html {
    width: 100%;
    height: 100%;
}
.theme {
background: url(../image/Фон.jpg);
width: 100%;
height: 100%;
margin: 0;
}

a {
text-decoration: none;
color: rgb(0, 0, 0);

}


.txt1{
font-family: Arial, Helvetica, sans-serif;
font-size: 60px;
padding-left: px;
display: flex;
justify-content: center;
border: 1px solid rgb(0, 0, 0);
border-top: none;
border-left: none;
border-right: none;


}

.MainInfo {
width: 100%;




}

.Rick {
    width: 25%;
    height: 750px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-right: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    border-top: none;
    border-left: none;
    border-bottom: none;    


}

.Name {
    width: 221px;
    height: 50px;
    font-size: 24px;
    padding-left: 30px;
    
}

.Image {
    width: 230px;
    height: 460px;
    font-size: 24px;
    padding-left: 30px;
}

.Text {
    width: 251px;
    height: 260px;
    font-size: 12px;
    padding-top: 8px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    


}